<aside>
<!-- 	<div class="social-media-strip">
		<ul>
			<li class="behance"><a href="#behance">Behance</a></li>
			<li class="insta"><a href="#insta">Instagram</a></li>
			<li class="fb"><a href="#fb">Facebook</a></li>
			<li><img src="{{site.baseurl}}/img/followus.png"></li>
		</ul>
	</div>
	 -->
	<div class="top-nav">
		<button type="button" class="burger js-menu-trigger sliding-panel-button"></button>
		<nav class="js-menu sliding-panel-content">
			<ul>
				<li><a href="{{site.baseurl}}/" class="aside-logo" title="Cymour Cycling Home">Logo</a></li>
				<li><a href="{{site.baseurl}}/rentals/" class="rentals-icon" title="Rent a Bicycle">Rentals</a></li>
				<li><a href="{{site.baseurl}}/servicing/" class="servicing-icon" title="Book a Servicing">Servicing</a></li>
				<li><a href="{{site.baseurl}}/rides/" class="rides-icon" title="Join a Ride">Rides</a></li>
				<li><a href="{{site.baseurl}}/tours/" class="tours-icon" title="Go on a Cycle Tour">Tours</a></li>
				<li><a href="{{site.baseurl}}/events/" class="events-icon" title="Organize an Event">Events</a></li>
				<li><a href="{{site.baseurl}}/contact/" class="contact-icon" title="Call us Now">Contact</a></li>					
			</ul>
		</nav>
		<div class="js-menu-screen sliding-panel-fade-screen"></div>
	</div>
</aside>
