<footer>
	<div class="footer-data">
		<nav class="social-nav">
			<a href="{{ site.facebook }}">Cymour on Facebook</a>
			<a href="{{site.twitter}}">Cymour on Twitter</a>
			<a href="{{site.instagram}}">Cymour on Instagram</a>
			<a href="{{site.strava}}">Cymour on Strava</a>
		</nav>
		<!-- 
		<address>Kalyani Nagar, Pune, Maharashtra 411001.
		</address> -->
		<!-- <h3 class="design">Website by Bhingry</h3> -->
	</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>