<header>
<!-- 	<div class="social-media-strip">
		<ul>
			<li class="behance"><a href="#behance">Behance</a></li>
			<li class="insta"><a href="#insta">Instagram</a></li>
			<li class="fb"><a href="#fb">Facebook</a></li>
			<li><img src="{{site.baseurl}}/img/followus.png"></li>
		</ul>
	</div>
	 -->
	<div class="top-nav">
		<a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/cymour_logo.svg" alt="cymour-logo" class="logo"></a>
		<button type="button" class="burger js-menu-trigger sliding-panel-button"></button>
		<nav class="js-menu sliding-panel-content">
			<ul>
				<li><a href="{{site.baseurl}}/" class="panel-logo">Logo</a></li>
				<li><a href="{{site.baseurl}}/rentals/" class="rentals-page">Rentals</a></li>
				<li><a href="{{site.baseurl}}/servicing/" class="servicing-page">Servicing</a></li>
				<li><a href="{{site.baseurl}}/rides/" class="rides-page">Rides</a></li>
				<li><a href="{{site.baseurl}}/tours/" class="tours-page">Tours</a></li>
				<li><a href="{{site.baseurl}}/about/" class="about-page">About</a></li>
				<li><a href="{{site.baseurl}}/contact/" class="contact-page">Contact</a></li>					
			</ul>
		</nav>
		<div class="js-menu-screen sliding-panel-fade-screen"></div>
	</div>
</header>
