
/**
 * Basic styling
 */
body {
    position: absolute 0 0 0 0;
    background-color: $background-color;
    background: $background-image;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    -webkit-text-size-adjust: 100%;

}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

// color of links

// a {
//     color: inherit;
// }


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
