footer {
	// width: 100%;
	margin-top: $spacing-unit;
	display: block;
	clear: both;
	padding:0;
	overflow: hidden;
	position: fixed;
	bottom: 2em;
	left: 0;
}

.footer-data {
	width: 100%;
	min-height: 3em;
	background-color: transparent;	
	text-transform: Capitalize;
	font-size: 1em;
	color: #ccc;
	padding-top: 1em;
	overflow: hidden;
	position: relative;
}

.social-nav {
		> a {
		display: inline-block;
		float: left; 
		padding-right: 1em;
		text-decoration: none;
	}

}
.design {
	// border: 1px solid red; 
	//float: right;
	color: white;
	position: absolute;
	top: 1em;
	right: 1em;
}