
.rentals {
	margin-right: 12em;
	/*border: 1px solid blue;*/
	position: relative;
	overflow: hidden;
	h1, h3 {
		color: $brand-color;
		text-align: center;
	}

	p {
		font-size: 1.5em;
		padding: 0 2em;
		text-align: center;
	}
	background-color: rgba(0,0,0,0.5);
}

#rentals-map {
	width: 40rem;
	height: 70vh;
	margin: 0 auto;
}

.infoBox {
	padding: 0;
	margin: 0;
}

.availability {
	font-family: 'PT Sans', Sans-serif;
	width: 20rem;
	padding: 0 0 0 0;
	margin: 0;
	background-color: #fff;
	// opacity: 0.9;      
	/*border: 1px solid blue;*/
	color: #333;
}


.availability h2 {
	background: #555;
	color: #fff;
	text-align: center;
	padding: 0 0 0.25em 0.125em;
	margin: 0;
	
}

.availability p {
	font-weight: bold;
	text-transform: uppercase;
	
} 

.week {
		display: flex;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		/*border: 1px solid red;*/
}
.day > p {
	text-align: right;
}
.day > h4 {
	text-transform: uppercase;
	text-align: center;
}